.audience:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) ;
  background-color:#3040C4 !important;
  border-color:#3040C4 !important;
  color: white !important;

}

.hovere:hover{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) ;

}
.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.bg-blue{
  background-color:#e7f3fc;
}

.bordr {
    border-left:  05px solid #fec043;
}

.btn-primary {
  background-color:#3040C4 !important;
  border-color:#3040C4;
}

#accordion .collapse {
  margin-top: -1px;
  background: #fff;
  border-bottom: 2px solid #3040C4;
}

@media screen and (max-width: 600px) {
  .disapear{
    display: none;
  }

@media screen and (max-width:600px) {
  .bg{
    background-color:white;
  }
}

@media screen and (max-width:600px) {
  .tab{

  }