.audience:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) ;
  background-color: purple !important;
  color: white !important;
}

.hovere:hover{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) ;

}
.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.bg-blue{
  background-color:#e7f3fc
}

.bordr {
    border-left:  05px solid #fec043;
}

.btn-primary{
  background-color:#3040C4 !important;
  border-color:#3040C4;
}
